@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Press+Start+2P&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Press+Start+2P&family=Roboto&family=VT323&display=swap');

.page-wrapper {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background: rgb(211, 93, 14);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: 'Press Start 2P';
  color: rgb(43, 48, 58);
  /* font-family: 'VT323'; */
}

.pokeapi-icon{
  margin-top: 1m;
  margin-bottom: 1em;
}

h4 {
  font-size: 2rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2);
  font-family: 'Press Start 2P';
}

::placeholder {
  color: rgb(43, 48, 58);
}

.search-bar button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  margin-left: .5rem;
  border-radius: 25px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2);
}

.card {
  width: 300px;
  height: 300px;
}

.row-pokemon {
  background-color: rgb(186, 193, 184);
  border: 5px solid rgb(12, 124, 89);
  border-radius: 15px;
  margin: 2em;
  padding: 1.5em;
  width: 300px;
  height: 300px;
}

.name {
  display: flex;
  justify-content: center;
  font-size: 1.50rem;
  margin-bottom: 2rem;
}

.abilities {
  display: flex;
  justify-content: center;
}

ul {
  list-style-type: disclosure-closed;
}

.sprite {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sprite img {
  width: 150px;
  height: 150px;
}

.details {
  display: flex;
  justify-content: center;
  position: relative;
  top: 25px;
}

.details button {
  fill: rgb(43, 48, 58); 
  stroke-width: 0; 
  height: 3em; 
  width: 10.5em;
  padding: 2px;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 2.5px solid rgb(12, 124, 89);
  background: rgba(255, 255, 255, 0.2);
  color: rgb(43, 48, 58);
  font-family: 'Press Start 2P';
  position: relative;
  top: 20px;
}
