@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Press+Start+2P&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Press+Start+2P&family=Roboto&family=VT323&display=swap');

.page-wrapper {
  height: 100vh;
  width: 100%;
  padding: 0;
  margin: 0;
  background: rgb(211, 93, 14);
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-family: 'Press Start 2P';
  color: rgb(43, 48, 58);
  /* font-family: 'VT323'; */
}

.pokeapi-icon{
  margin-top: 1m;
  margin-bottom: 1em;
}

h4 {
  font-size: 2rem;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar input {
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2);
}

.search-bar button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.8rem;
  height: 2.8rem;
  margin-left: .5rem;
  border-radius: 25px;
  border: 1px solid rgb(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.2);
}

.row-pokemon {
  background-color: rgb(186, 193, 184);
  margin-top: 2em;
  width: 75%;
  height: 500px;
}

.abilities {
  display: flex;
  align-content: center;
}

.name {
  font-size: 2rem;
}
